<?xml version="1.0" encoding="UTF-8"?>
<struct>
    <classifierName>RaF-LDA - Linear Discriminant Analysis based ensemble of RaF</classifierName>
    <fnName>RaF_LDA</fnName>
    <configureClassifierButtonEnable>false</configureClassifierButtonEnable>
    <configurationOptions/>
    <numberOfHyperparameters>1</numberOfHyperparameters>
    <hyperParamNames>nTree</hyperParamNames>
    <nodeType>classifier</nodeType>
    <baseClassifierType>Random Forests based Classifiers</baseClassifierType>
</struct>
