<?xml version="1.0" encoding="UTF-8"?>
<struct>
    <classifierName>RVFL - Random Vector Functional Link Network</classifierName>
    <fnName>RVFL_train_val</fnName>
    <configureClassifierButtonEnable>false</configureClassifierButtonEnable>
    <configurationOptions/>
    <numberOfHyperparameters>2</numberOfHyperparameters>
    <hyperParamNames>C</hyperParamNames>
    <hyperParamNames>N</hyperParamNames>
    <nodeType>classifier</nodeType>
    <baseClassifierType>Neural Network based Classifiers</baseClassifierType>
</struct>
