<?xml version="1.0" encoding="UTF-8"?>
<struct>
    <classifierName>RaF - Random Forests</classifierName>
    <fnName>Raf</fnName>
    <configureClassifierButtonEnable>false</configureClassifierButtonEnable>
    <configurationOptions/>
    <numberOfHyperparameters>1</numberOfHyperparameters>
    <hyperParamNames>nTree</hyperParamNames>
    <nodeType>classifier</nodeType>
    <baseClassifierType>Random Forests based Classifiers</baseClassifierType>
</struct>
