<?xml version="1.0" encoding="UTF-8"?>
<struct>
    <classifierName>Shallow Neural Network</classifierName>
    <fnName>ShallowNeuralNetwork</fnName>
    <configureClassifierButtonEnable>false</configureClassifierButtonEnable>
    <configurationOptions/>
    <numberOfHyperparameters>2</numberOfHyperparameters>
    <hyperParamNames>miniBatchSize</hyperParamNames>
    <hyperParamNames>fullyConnectedLayerSize</hyperParamNames>
    <nodeType>classifier</nodeType>
    <baseClassifierType>Neural Network based Classifiers</baseClassifierType>
</struct>
